ROOT=/chainlink
LOG_LEVEL=debug
MIN_OUTGOING_CONFIRMATIONS=2
CHAINLINK_TLS_PORT=0
SECURE_COOKIES=false
ALLOW_ORIGINS=*
DATABASE_URL=postgresql://root:root@postgresql:5432/chainlink?sslmode=disable
DATABASE_TIMEOUT=0
# Ropsten
ETH_CHAIN_ID=3
LINK_CONTRACT_ADDRESS=0x20fe562d797a42dcb3399062ae9546cd06f63280
ETH_URL=
# Local
#ETH_CHAIN_ID=1337
#LINK_CONTRACT_ADDRESS=
#ETH_URL=ws://host.docker.internal:8545
