{
  "GenerateMerkleTreeInputFunction": {
    "INPUT_BUCKET": ""
  },
  "GenerateMerkleTreeFunction": {
    "INPUT_BUCKET": "",
    "MERKLE_TREE_BUCKET": ""
  },
  "UploadMerkleTreeFunction": {
    "PINATA_API_KEY": "",
    "PINATA_SECRET_API_KEY": "",
    "MERKLE_TREE_BUCKET": ""
  },
  "SplitMerkleTreeFunction": {
    "MERKLE_PROOF_BUCKET": ""
  }
}
