{
  "InputGeneratorFunction": {
    "PINATA_API_KEY": "",
    "PINATA_SECRET_API_KEY": ""
  },
  "GeneratorFunction": {
    "MERKLE_TREE_BUCKET": ""
  },
  "UploaderFunction": {
    "PINATA_API_KEY": "",
    "PINATA_SECRET_API_KEY": "",
    "MERKLE_TREE_BUCKET": ""
  },
  "SplitterFunction": {
    "MERKLE_TREE_BUCKET": "",
    "MERKLE_PROOF_BUCKET": ""
  }
}
