version: '3.4'

services:
  postgresql:
    image: postgres:10.5
    container_name: postgresql
    ports:
      - 5432:5432
    volumes:
      - ./postgres/init:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8"
    hostname: postgres
    restart: always
    user: root

  chainlink:
    image: smartcontract/chainlink
    container_name: chainlink
    tty: true
    ports:
      - 6688:6688
    env_file:
      - chainlink/.env
    volumes:
      - ./chainlink/data:/chainlink
    depends_on:
      - postgresql
    entrypoint: "/bin/bash"

  adapter:
    container_name: adapter
    ports:
      - 3000:3000
    build:
      context: ../adapters/custom-addresses
      dockerfile: ./Dockerfile
    restart: on-failure
    command: yarn start
